<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <section id="custom_multishipping_section" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom MultiShipping Configuration</label>
            <tab>sales</tab>
            <resource>Vendor_Module::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable_multishipping" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom MultiShipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the custom MultiShipping functionality for configurable products.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
